:root{
  --white-color: #fff;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
}

body {
  margin: 10%;
  margin-left:20%;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.slides-container {
  height: 500px;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.next-btn,
.prev-btn {
  background: #eee;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 100;
  cursor: pointer;
  transition: 400ms;
}

.next-btn:hover,
.prev-btn:hover {
  background: #bbbfbf;
  color: white;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.slider .slide .text-content{
  position: absolute;
  color: rgb(41, 41, 41);
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slides-container .slide-image .text-content h2{
  font-size: 3em;
  font-weight: 800;
}

.slides-container .slide-image .text-content p{
  font-size:  1em;
  font-weight: 400;
}

/* .swiper-slide .text-content{
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
}

.slide-image .text-content .title{
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.slide-image-active .text-content .title{
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.slide-image .text-content .title span{
  font-size: 0.3em;
  font-weight: 300;
}

.slide-image .text-content p{
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.slide-image-active .text-content p{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
} */
