html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
body{
    background: #f9f6f2;
    user-select: none;
}
header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

header img{
    margin-left: 1cm;
    width: 6%;
}

header .navbar a{
    font-size: 1.2rem;
    border-radius: .5rem;
    padding:.5rem 3rem;
    color: #F4B536;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header .navbar a.active,
header .navbar a:hover{
    color: rgb(98, 98, 27);
    background: #F4B536;
}

header .navbar .searchbox a:hover{
    background: white;
}