html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
body{
    background: #f9f6f2;
    user-select: none;
}
header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

header img{
    width: 7%;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 3rem;
    color:var(--light-color);
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}